extends layout

block title
  title Poll | Poll
  
block content
  h4#Poll-Creator!= "Created by: " + poll.creator
  h1#Poll-Vote-Question!= poll.question
  br
  if votedAlready == false
    form(method='POST', action='/polls/'+poll._id)
      input#Option_Button.btn.btn-primary(name="button" type='submit', value!=poll.option1Text)
    br
    form(method='POST', action='/polls/'+poll._id)
      input#Option_Button.btn.btn-primary(name="button" type='submit', value!=poll.option2Text)
      
  else
    h5#Option-Vote-Title!= poll.option1Text
    #option1Graph.graph
      #number-of-votes1.numberofvotes!= poll.option1Votes
    br
    h5#Option-Vote-Title!= poll.option2Text  
    #option2Graph.graph
      #number-of-votes2.numberofvotes!= poll.option2Votes
    
    
      
block scripts
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
  script(type='text/javascript' src='/js/pollGraph.js')
  
